<div class="row">
  <div class="col s12 m9">
    <% if can? :create, Recipe %>
        <%= link_to 'Новый рецепт', new_recipe_path, class: "waves-effect waves-light btn" %>
    <% end %>
  </div>
</div>

  <% @recipes.each do |recipe|  %>
  <div class="row">
   <div class="card-image1 col s12 m4">
    <%= image_tag(recipe.image, size: "250x250" ,  class: 'activator materialboxed width="650"') %>
   </div>
    <div class="col s12 m8">
     <h3><%= link_to(addtolove_path(recipe), class: "waves-effect waves-light btn-floating", title: "В любимые рецепты") do %>
                    <i class='material-icons'>favorite</i>
                <% end %>
     <%=link_to recipe.name, recipe_path(recipe) %></br></h3></br>
     <%= recipe.short %>
    </div>


   </div>
  <% end %>

  <%= paginate @recipes %>
